@{
    ViewData["EasyMarket"] = "Начална Страница";
}

<div class="text-center">
    <h1 class="display-4">EasyMarket</h1>
    <p>Пазарувай по-лесно и по-бързо! Поръчай желаните от теб продукти онлайн и те ще бъдат доставени до желанта от теб дестинация!</p>
</div>
